<header>
  <div class="dropdown" id="dropdown">
    <button onclick="toggleDropdown()" class="dropbtn">
      <h1>&#9660; <a href="index.html">garment sans</a></h1>
    </button>
    <div class="dropdown-content">
      <h1><a href="https://nest.garmentsans.com">the nest</a></h1>
      <h1><a href="https://film.garmentsans.com">photography</a></h1>
    </div>
  </div>
  <script>
    function toggleDropdown() {
      document.getElementById("dropdown").classList.toggle("show");
    }
  </script>
</header>
